Gathering data- Load and read dataset

In [14]:
import numpy as np
import pandas as pd

In [15]:
df=pd.read_csv('/content/insurance.csv')

In [16]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Data preprocessing- One hot encoding

In [17]:
df['sex']=df['sex'].apply({'male':0,'female':1}.get)

In [18]:
df.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest  16884.92400
1   18    0  33.770         1     no  southeast   1725.55230
2   28    0  33.000         3     no  southeast   4449.46200
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest   3866.85520

In [19]:
df['smoker']=df['smoker'].apply({'yes':0,'no':1}.get)
df['region']=df['region'].apply({'southwest':0,'southeast':1,'northwest':2,'northeast':3}.get)

In [20]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       0  16884.92400
1   18    0  33.770         1       1       1   1725.55230
2   28    0  33.000         3       1       1   4449.46200
3   33    0  22.705         0       1       2  21984.47061
4   32    0  28.880         0       1       2   3866.85520

Data preprocessing- Splitting the data into dependent and independent features

In [21]:
X=df[['age','sex','bmi','children','smoker','region']]   #independent features

In [22]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    1  27.900         0       0       0
1   18    0  33.770         1       1       1
2   28    0  33.000         3       1       1
3   33    0  22.705         0       1       2
4   32    0  28.880         0       1       2

In [23]:
Y=df['charges']  #dependent features

In [24]:
Y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

Data preprocessing- split data into train and test part

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.3)

In [27]:
len(X_train)

936

In [28]:
len(Y_train)

936

In [29]:
len(X_test)

402

In [30]:
len(Y_test)

402

Model building using Linear Regression

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
model=LinearRegression()   #Creating object
model.fit(X_train,Y_train)   #training of algorithm take place

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
prediction=model.predict(X_test)

In [36]:
prediction[0:5]

array([36065.6041307 ,  9990.50304921,  2256.76967451,  5144.4199813 ,
        5216.73020791])

In [38]:
Y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

How model is going to predict on new customer

In [40]:
data={'age':21,'sex':0,'bmi':23.7,'children':0,'smoker':1,'region':3}

index=[1]

new_cust=pd.DataFrame(data,index)

In [41]:
new_cust

   age  sex   bmi  children  smoker  region
1   21    0  23.7         0       1       3

In [42]:
prediction_new_cust=model.predict(new_cust)
print('The insurance cost for new customer is',prediction_new_cust)

The insurance cost for new customer is [1476.82776293]

Model accuracy

In [43]:
model.score(X,Y)

0.7504411643199455